body {
 text-align: center;
  background-color:rgba(0, 0, 255, 0.185);
  background-image: url('./assets/disruption-disruptive.gif');
  background-image: url('./assets/background.gif'), dispaly hidden;
  background-position: center; 
  background-repeat: no-repeat;
}
header {
  background-color: rgba(240, 248, 255, 0.61);
  color: rgb(245, 11, 11);
  text-shadow: 4px 4px rgba(0, 0, 0, 0.329);
  font-size: 20px;
}

textarea {
  width: 50%;
  height: 440px;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 20px;
}
button {
  color: aliceblue;
  background-color: brown;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  
}

button:hover {
  background-color: rgb(134, 18, 18);
}
background-image {
  opacity: 0.6;
}